<nav class="nav d-flex flex-column">
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center align-items-center container-svg-span">
            <img src="../../../assets/images/isa 1.png" />
            <div>
                <span class="fs-4">AudacesManager</span>
            </div>
        </div>
        <button class="mb-2">
            <a class="nav-link" routerLink="/home/dashboard" routerLinkActive="active">Dashboard</a>
        </button>
        <div class="container-ul-li">
            <ul class=""><span class="span">CADASTROS</span>
                <li class="nav-item list-unstyled">
                    <button>
                        <a class="nav-link" routerLink="/home/colecoes">Coleções</a>
                    </button>
                </li>
                <li class="nav-item list-unstyled">
                    <button>
                        <a class="nav-link" routerLink="/home/modelos">Modelos</a>
                    </button>
                </li>
            </ul>
            <ul><span>SUPORTE</span>
                <li class="nav-item list-unstyled">
                    <button>
                        <a class="nav-link link-dark">Ajuda</a>
                    </button>
                </li>
                <li class="nav-item list-unstyled">
                    <button>
                        <a class="nav-link link-dark">Enviar Comentários</a>
                    </button>
                </li>
            </ul>
        </div>
        <button>
            <a class="nav-link" routerLink="/public/login">Logout</a>
        </button>
    </div>
</nav>