<nav class="nav d-flex flex-column">
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center align-items-center container-svg-span">
            <img src="../../../assets/images/isa 1.png" />
            <div>
                <span>AudacesManager</span>
            </div>
        </div>
        <button class="nav-item list-unstyled btn-dashboard" routerLink="/private/dashboard">Dashboard</button>
        <div class="container-ul-li">
            <ul><span class="span">CADASTROS</span>
                <li class="nav-item list-unstyled"><button>Coleções</button></li>
                <li class="nav-item list-unstyled"><button>Modelos</button></li>
            </ul>
            <ul><span>SUPORTE</span>
                <li class="nav-item list-unstyled"><button>Ajuda</button></li>
                <li class="nav-item list-unstyled"><button>Enviar Comentários</button></li>
            </ul>
        </div>
        <button routerLink="/public/login">Logout</button>
    </div>
</nav>