nav {
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    .container-fluid {
        img {
            width: 80px;
        }
        .container-svg-span {
            margin-bottom: 40px;
        }
        .btn {
         padding: 4px;
        }
        .container-ul-li {
            ul {
                padding-left: 0 !important;
                span {
                    margin-bottom: 12px !important;
                }
                li {
                    margin-top: 16px;
                }
            }
        }
    }
}