<nav class="nav d-flex flex-column">
    <div class="container">
        <div class="container mb-4">
            <div class="mb-2 mt-3 img">
                <img src="../../../assets/images/isa 1.png" />
            </div>
            <div class="span">
                <span class="text">AudacesManager</span>
            </div>
        </div>
        <a class="nav-link dashboard" routerLink="/home/dashboard" routerLinkActive="active">
            <span>Dashboard</span>
        </a>
        <div class="container-ul-li">
            <ul>
                <span class="fw-bold">CADASTROS</span>
                <li class="nav-item list-unstyled">
                    <a class="nav-link item-link" routerLink="/home/colecoes">
                        <span>Coleções</span>
                    </a>
                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link item-link" routerLink="/home/modelos">
                        <span>Modelos</span>
                    </a>
                </li>
            </ul>
            <ul>
                <span class="fw-bold">SUPORTE</span>
                <li class="nav-item list-unstyled">
                    <a class="nav-link link-dark">
                        <span>Ajuda</span>
                    </a>
                </li>
                <li class="nav-item list-unstyled">
                    <a class="nav-link link-dark">
                        <span>Enviar Comentários</span>
                    </a>
                </li>
            </ul>
        </div>
        <a class="nav-link logout" routerLink="/public/login">
            <span>Log out</span>
        </a>
    </div>
</nav>