<main class="container main-dashboard">
    <div class="container container-dashboard">
        <h1>Bem vindo, Robson</h1>
        <p class="mb-2">Acompanhe a visão geral de suas coleções</p>
        <div class="d-flex justify-content-between container-cards">
            <div class="card" style="width: 18rem;">
                <div class="card-body card-1">
                    <h5 class="card-title">Total de coleções</h5>
                    <p class="card-text">{{ colecoes.length }}</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body card-2">
                    <h5 class="card-title">Total de Modelos</h5>
                    <p class="card-text">{{ modelos.length }}</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body card-3">
                    <h5 class="card-title">Orçamento Médio por coleção</h5>
                    <p class="card-text">R$ 0000,00</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="mb-4">Maiores Orçamentos</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ColeçãoID</th>
                        <th>Nome da Coleção</th>
                        <th>Orçamento</th>
                        <th>Responsável</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let colecao of colecoes">
                        <td>{{ colecao.id }}</td>
                        <td>{{ colecao.nome }}</td>
                        <td>R$ {{ colecao.orcamento }}</td>
                        <td>{{ colecao.responsavel }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>