.dashboard {
    height: 610px;
    width: 100%;
    margin: auto;
    padding: 12px;
    gap: 0.5em;
    .container-main {
        background-color: whitesmoke;
        width: 100%;
    }
}