<main class="h-100 m-4 p-4">
    <img src="../../../assets/images/Fill-51.png" />
    <h1 class="text-center">{{ h1 }}</h1>
    <form class="d-flex flex-column justify-content-center align-items-center form" [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <h2 class="m-4">{{ h2 }}</h2>
        <div class="container-email-password m-2">
            <label for="email">Informe seu e-mail</label>
            <input type="email" placeholder="E-mail" formControlName="email" />
            <label for="password">Informe sua senha</label>
            <input type="password" placeholder="Senha" formControlName="password" />
        </div>
        <div class="container-button m-2">
            <button type="submit" [disabled]="!form.valid" (click)="onSubmit()" routerLink="/home/dashboard">
                <span>Entrar</span>
            </button>
        </div>
    </form>
    <p class="text-center">
        <span>Esqueceu sua senha?</span>
        <a routerLink="/public/redefinirSenha">
            <span> Redefinir Senha</span>
        </a>
    </p>
</main>