nav {
    width: 20%;
    height: 610px;
    margin: 16px;
    padding: 16px;
    background-color: whitesmoke;
    .container-fluid {
        .container-svg-span {
            margin-bottom: 60px;
        }
    }
}