.home {
    height: 640px;
    width: 100%;
    margin: auto;
    padding: 12px;
    gap: 0.5em;
    .app-menu {
        background-color: whitesmoke;
        width: 25%;
    }
    .app-dashboard {
        background-color: whitesmoke;
        width: 100%;
    }
}