<main class="main container">
    <h2 class="fs-1">Criar Coleção</h2>
    <div class="d-flex container forms">
        <form class="d-flex flex-column">
            <input type="text" placeholder="Nome da Coleção">
            <input type="text" placeholder="Para qual estação?">
            <input type="number" placeholder="Qual é o orçamento desta coleção?">
        </form>
        <form class="d-flex flex-column">
            <input type="text" placeholder="Nome da Coleção">
            <input type="text" placeholder="Para qual estação?">
            <input type="number" placeholder="Qual é o orçamento desta coleção?">
        </form>
    </div>
    <div>
        <img src="../../../../assets/images/image 1.png" alt="conectaModa">
    </div>
    <div>
        <button>Cancelar</button>
        <button>Salvar</button>
    </div>
</main>