<main class="container container-main">
    <h2>Criar Coleção</h2>
    <div class="container container-form">
        <form class="d-flex justify-content-center form">
            <div class="d-flex flex-column">
                <input class="m-2 p-1" type="text" placeholder="Nome da Coleção" 
                    [(ngModel)]="cadastraColecao.nome"
                    [ngModelOptions]="{standalone: true}">
                <input class="m-2 p-1" type="text" placeholder="Para qual estação?"
                    [(ngModel)]="cadastraColecao.estacao" 
                    [ngModelOptions]="{standalone: true}">
                <input class="m-2 p-1" type="number" placeholder="Qual é o orçamento desta coleção?"
                    [(ngModel)]="cadastraColecao.orcamento" 
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="d-flex flex-column">
                <input class="m-2 p-1" type="text" placeholder="Responsável pela Coleção"
                    [(ngModel)]="cadastraColecao.responsavel" 
                    [ngModelOptions]="{standalone: true}">
                <input class="m-2 p-1" type="text" placeholder="Para qual marca você está criando?"
                    [(ngModel)]="cadastraColecao.marca" 
                    [ngModelOptions]="{standalone: true}">
                <input class="m-2 p-1" type="number" placeholder="Ano de Lançamento?"
                    [(ngModel)]="cadastraColecao.lancamento" 
                    [ngModelOptions]="{standalone: true}">
            </div>
        </form>
    </div>
    <div>
        <img src="../../../../assets/images/image 1.png" alt="conectaModa">
    </div>
    <div class="d-flex justify-content-end container-btns">
        <button class="btn-danger" routerLink="/home/colecoes">Cancelar</button>
        <button type="submit" class="btn-primary" (click)="postDataColecoes()">Salvar</button>
    </div>
</main>