<main class="container">
    <div class="d-flex justify-content-between container-container">
        <h2 class="fs-2">Coleções</h2>
        <button>
            <a class="nav-link" routerLink="/home/cadastrar">Criar Coleção</a>
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ColeçãoID</th>
                <th>Nome da Coleção</th>
                <th>Estação e Lançamento</th>
                <th>Responsável</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let colecao of colecoes">
                <td>{{ colecao.id }}</td>
                <td>{{ colecao.nome }}</td>
                <td>{{ colecao.estacao }} {{ colecao.lancamento }}</td>
                <td>{{ colecao.responsavel }}</td>
                <td><button><a [routerLink]="['/home/colecoes', colecao.id]">Editar</a></button></td>
            </tr>
        </tbody>
    </table>
</main>