<main class="container main-listar-colecoes">
    <div class="d-flex justify-content-between container-h2-button">
        <h2 class="fs-2">Coleções</h2>
        <button>
            <a class="nav-link text-white" routerLink="/home/cadastrar">Criar Coleção</a>
        </button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ColeçãoID</th>
                <th>Nome da Coleção</th>
                <th>Estação e Lançamento</th>
                <th>Responsável</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let colecao of colecoes" [routerLink]="['/home/colecoes', colecao.id]">
                <td>{{ colecao.id }}</td>
                <td>{{ colecao.nome }}</td>
                <td>{{ colecao.estacao }} {{ colecao.lancamento }}</td>
                <td>{{ colecao.responsavel }}</td>
            </tr>
        </tbody>
    </table>
</main>