<main>
    <h2>Editar Coleção</h2>
    <div>
        <form>
            <div>
                <input type="text" placeholder="Nome da coleção"
                [(ngModel)]="editaColecao.nome"
                [ngModelOptions]="{standalone: true}">
                <input type="text" placeholder="Para qual estação?"
                [(ngModel)]="editaColecao.estacao"
                [ngModelOptions]="{standalone: true}">
                <input type="number" placeholder="Qual é o orçamento desta coleção?"
                [(ngModel)]="editaColecao.orcamento"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div>
                <input type="text" placeholder="Responsável pela coleção"
                [(ngModel)]="editaColecao.responsavel"
                [ngModelOptions]="{standalone: true}">
                <input type="text" placeholder="Para qual marca você está criando?"
                [(ngModel)]="editaColecao.marca"
                [ngModelOptions]="{standalone: true}">
                <input type="number" placeholder="Ano de Lançamento"
                [(ngModel)]="editaColecao.lancamento"
                [ngModelOptions]="{standalone: true}">
            </div>
        </form>
        <div>
            <img src="../../../../assets/images/image 1.png">
        </div>
        <div>
            <button routerLink="/home/colecoes">Cancelar</button>
            <button type="submit" (click)="editColecao()">Atualizar</button>
        </div>
    </div>
</main>