@import "./assets/SCSS/menu";
@import "./assets/SCSS/home";
@import "./assets/SCSS/dashboard";
@import "./assets/SCSS/listar-colecoes";
@import "./assets/SCSS/cadastrar-colecao";
@import "./assets/SCSS/editar-colecao";
@import "./assets/SCSS/listar-modelos";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

app-dashboard {
  width: 73.1%;
  height: 100%;
}

app-cadastrar-colecao {
  width: 73.1%;
  height: 100%;
}

app-editar-colecao {
  width: 73.1%;
  height: 100%;
}

app-listar-modelos {
  width: 73.1%;
  height: 100%;
}
