<main class="h-100 m-4 p-4">
    <img src="../../../assets/images/Fill-51.png" />
    <form class="d-flex flex-column justify-content-center align-items-center form" [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <div class="d-flex w-100 m-2 svg-h1">
            <div class="m-2 p-2 svg">
                <a routerLink="/public/login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                </a>
            </div>
            <div class="w-75 text-center">
                <h1 class="m-3">{{ h1 }}</h1>
            </div>
        </div>
        <p class="text-center">{{ paragraph }}</p>
        <div class="container-email m-2">
            <label for="email">{{ labelTextContent }}</label>
            <input type="email" placeholder="E-mail" formControlName="email" />
        </div>
        <div class="container-button m-4">
            <button (click)="onSubmit()" [disabled]="!form.valid">
                {{ buttonTextContent }}
            </button>
        </div>
    </form>
</main>